* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 2px black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

h1{
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-shadow: 8px 5px black;
}

h5{
    margin-top: 8px;
    text-align: right;
    width: 300px;
    font-size: x-small;
    color: lightsteelblue;
}

#menuOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    padding-bottom: 25px;
    padding-top: 15px;
    color: lightsteelblue;
}

.option{
    text-align: center;
}

table{
    border: 6px solid white;
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 1;
}

td.square{
    color: palevioletred;
    font-size: 0px;
    font-family: monospace;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0px;
}

.apple{
    background-color: palevioletred;
}
select{
    z-index: 9999;
}

button{
    z-index: 9999;
}

.snake{
    background-color: rgb(177, 238, 177);
}

span{
    color: aqua;
    text-shadow: 5px 3px black;
    font-size: xx-large;
    padding: 5px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 900px;
    text-align: center;
    z-index: 2;
};

html, body {
    overflow: hidden;
}

.material-symbols-outlined{
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 8px;
    top: 8px;
}

